body {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IM Fell Double Pica', serif;
}

#welcome>.mine>h1 {
    font-family: 'Pacifico', cursive;
    color: rgb(247, 253, 251);
    font-size: 2.5em;
    text-align: center;
}
#welcome {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("/images/backlit-dawn-desert-756774.jpg") no-repeat center center/cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome>.mine>h2 {
    text-transform: uppercase;
    font-size: 2.5em;
    color: rgb(155, 243, 231);;
}
#welcome>.mine>h2>.name {
    color:rgb(202, 137, 39);
    font-weight: 600;
}
#welcome>.mine>h3 {
    color: rgb(247, 253, 251);
    font-size: 1.5em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 48, 48);
    align-items: center;
  }
  li {
    float: left;    
  }
  
  li a {
    display: block;
    color: rgb(247, 239, 239);
    text-align: justify;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
  }
  li a:hover {
    background-color: rgb(0, 0, 0);
  }
#about {
    text-align: center;
    height: 700px;
}
#about>.mem>{
    height: 15px;
}
#about>.mem>h1 {
    text-transform: uppercase;
    height: 5px;
    margin-top: 0px;
}
#about>.mem>h2 {
    font-family: 'Sacramento', cursive;
    font-size: 2em;
}
  